.page{
  display: grid;
  grid-template-columns: 1fr 1108px 1fr;
  grid-template-areas: "... wrapper ...";
}

.page-wrapper{
  grid-area: wrapper;
}


header{
  padding: 25px 0;
  position: relative;


}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  width: 250px;
  height: 57px;
}
.header__contacts{
  display: flex;
  flex-direction: column;
}

.header__menu{
  display: flex;
}

.header__nav-item{
  color: $menuColor;
  font-family: $OpenSans;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

.header__phone, .header__email{
  font-size: 20px;
  font-family: $OpenSansSemiBold;
  color: $menuColor;
  text-decoration: none;

}

.header__phone{
  letter-spacing: 1px;
  line-height: 1;
}

.header__email{
  font-size: 16px;
}


#menuToggle
{
  display: none;
  position: relative;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #1f759a;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #1f759a;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 200px;
  height: 100vh;
  padding: 50px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  top: -58px;
  transform: translate(100%, 0);
  transition: 1s ease;
  display: none;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: translate(0, 0);
  display: block;
  right: -20px;
}

