.advantages{

}
.advantages__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}


.advantages__title{
  font-family: $OpenSans;
  font-size: 30px;
  margin-bottom: 45px;
}
.advantages__row{
  display: flex;
  align-items: center;

}

.advantages__item{
  margin-right: 60px;
  &:last-child{
    margin-right: 0;
  }
}


#viewport2 {
  width: 500px;
  height: 100px;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}

#slidewrapper2 {
  position: relative;
  width: calc(25% * 8);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper2, #slidewrapper2 ul, #slidewrapper2 li {
  margin: 0;
  padding: 0;
}

.slide2 {
  width: calc(100%/8);
  list-style: none;
  display: inline;
  float: left;
}



#prev-btn2, #next-btn2 {
  display: none;
}

#prev-btn2:hover, #next-btn2:hover {
  cursor: pointer;
}

#prev-btn2 {
}

#next-btn2 {
}