// main
@import 'settings';

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

// import files of blocks
@import "../../blocks/header/header";
@import "../../blocks/slider/slider";
@import "../../blocks/order/order";
@import "../../blocks/payment/payment";
@import "../../blocks/why/why";
@import "../../blocks/partners/partners";
@import "../../blocks/video/video";
@import "../../blocks/advantages/advantages";
@import "../../blocks/footer/footer";


// importing media queries
@import "media";
